<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Admin Edit User</title>
        {% load static %} 
        <link rel="stylesheet" href="{% static '/user_dashboard/templated-projection/assets/css/main.css' %}">
        <link rel="shortcut icon" type="imagepng" href="/static/user_dashboard/images/favicon.ico">
    </head>
    <body>
        <div class = "container">
            <h2>edit info for {{user.first_name}}</h2>
            <hr>
            <fieldset>
                <legend>Edit Information</legend>
                <form action="/admin/edit/{{user.id}}" method = "POST">
                    {% csrf_token %}
                    Email: <input type="text" name = "email">
                    First Name: <input type="text" name = "first_name">
                    Last Name: <input type="text" name = "last_name">
                    User Level: <select name="user_level">
                                    <option value="admin">Admin</option>
                                    <option value="normal">Normal</option>
                                </select>
                        <input type="submit" value = "save">
                </form>
            </fieldset>
            <hr>
            <fieldset>
                <legend>Update Password</legend>
                <form action="/admin/password_update/{{user.id}}" method = "POST">
                    {% csrf_token %}
                    Password: <input type="password" name = "password">
                    Confirm PW: <input type="password" name = "confirm_password">
                    <input type="submit" value = "save">
                </form>
            </fieldset>
            <a href="/dashboard/admin">Go back to dashboard</a>
        </div>
    </body>
</html>