<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>User Page</title>
        {% load static %} 
        <link rel="stylesheet" href="{% static '/user_dashboard/templated-projection/assets/css/main.css' %}">
        <link rel="shortcut icon" type="imagepng" href="/static/user_dashboard/images/favicon.ico">
    </head>
    <body>
        <div class = "containter">
            <div id = "container">
                <h2>User Page for {{user.first_name}} {{user.last_name}}</h2>
                <p>Registered on: {{user.created_at}}</p>
                <p>Email Address: {{user.email}}</p>
                <p>Description: {{user.desc}}</p>
                <hr>
                <h3>Leave a Message for {{user.first_name}}:</h3>
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
                <form action="/add_message/{{user.id}}" method = "POST">
                    {% csrf_token %}
                    <textarea name="textarea" placeholder = "message..."cols="30" rows="10"></textarea>
                    <input type="submit" value = "leave message">
                </form>
                <hr>

                {% if all_messages %}
                    {% for message in all_messages %}
                        <h4 id = "message">{{message.message}}</h4>
                        - posted by {{message.written_by.first_name}} on {{message.created_at}}
                        {% if message.written_by.id == request.session.id %}
                            <a href="/message/remove/{{message.id}}">delete message</a>
                        {% endif %}
                        {% if comments %}
                        <fieldset id = "fieldset">
                            {% for comment in comments %}
                                {% if comment.message_id == message.id %}
                                    <p id = "comments">{{comment.comment}}</p>
                                    <p id = "info">-posted by {{comment.user.first_name}} on {{comment.created_at}}</p> 
                                    {% if comment.user_id == request.session.id %}
                                        <a href="/comment/remove/{{comment.id}}">delete comment</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </fieldset>
                        {% endif %}
                        <form action="/comment/{{message.id}}" method = "POST">
                            {% csrf_token %}
                            <input type="hidden" name = "profile" value = "{{user.id}}">
                            <textarea id = "comment" name="comment" placeholder = "comment..." cols="15" rows="5"></textarea>
                            <input type="submit" value = "leave comment">
                        </form>
                        <hr>
                    {% endfor %}
                {% endif %}
                <a href="/dashboard/admin">Go back to Dashboard</a> |
                <a href="/logout">Sign Out</a>
            </div>
        </div>
    </body>
</html>