<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Edit Profile</title>
        {% load static %} 
        <link rel="stylesheet" href="{% static '/user_dashboard/templated-projection/assets/css/main.css' %}">
        <link rel="shortcut icon" type="imagepng" href="/static/user_dashboard/images/favicon.ico">
    </head>
    <body>
        <div class = "container">
            <h2>Edit Profile</h2>
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
            <hr>
            <fieldset>
                <h3>Edit Information</h3>
                <form action="/self_edit/info/{{request.session.id}}" method = "POST">
                    {% csrf_token %}
                    Email Address: <input type="text" name = "email">
                    First Name: <input type="text" name = "first_name">
                    Last Name: <input type="text" name = "last_name">
                    <input type="submit" value = "save">
                </form>
            </fieldset>
            <hr>
            <fieldset>
                <h3>Change Password</h3>
                <form action="/self_edit/pw/{{request.session.id}}" method = "POST">
                    {% csrf_token %}
                    Password: <input type="password" name = "password">
                    Password Confirmation: <input type="password" name = "confirm_pw">
                    <input type="submit" value = "update password">
                </form>
            </fieldset>
            <hr>   
            <fieldset>
                <h3>Edit Description</h3>
                <form action="/self_edit/desc/{{request.session.id}}" method = "POST">
                    {% csrf_token %}
                    <textarea name="desc" cols="20" rows="10"></textarea>
                    <input type="submit" value = "save">
                </form>
            </fieldset>
            <a href="/dashboard">Go back to dashboard</a>
        </div>
    </body>
</html>